.custom_panel {
  display: flex;
  width: inherit;
  height: 40em;
  background-image: url("redWood.jpg");
}
.panel {
  margin-top: 1em;
  padding: 2em;
  height: 25em;
  background-color: wheat;
  opacity: 0.8;
}
