<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weather</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{content-for "head"}}

  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/weather.css">

  {{content-for "head-footer"}}
</head>
<body>

<script src="{{rootURL}}assets/vendor.js"></script>
<script src="{{rootURL}}assets/weather.js"></script>

{{content-for "body"}}

{{content-for "body-footer"}}
</body>
</html>
