{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class="container container-fluid">
  <div>
    <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-brand navbar-light" href="#">
          <strong>Location : {{locationInfo.name }}</strong>
        </a>
        <form class="input" {{action 'getWeather'}}>
          {{input value=location type="text" placeholder = 'Please type the city'}}
          <button class = "btn btn-warning btn-sm">Submit</button>
        </form>
      </div>
    </nav>
  </div>
  <div class="custom_panel">
    <table style="margin-top: 2em; margin-right: 5em; width: inherit;">
      <tr>
        <td class="panel col-lg-2 col-md-2 col-sm-10">
          <h1>Locaton: </h1>{{locationInfo.name}} <img src={{currentWeather.imageUrl}} alt="">
          <h5>Latitude: </h5> {{locationInfo.lat}}
          <h5>Longitude: </h5> {{locationInfo.long}}
          <h5>Current Weather: </h5> {{currentWeather.temperature}}
          <h5>Current Humidity: </h5> {{currentWeather.humidity}}
          <h5>Current Date: </h5> {{currentWeather.date}}
        </td>

        {{#each forcastWeather as |weatherItem|}}
          <td class="panel col-lg-2 col-md-1">
            <h5>Date: </h5> {{weatherItem.date}}
            <h5>High: </h5> {{weatherItem.high}}
            <h5>Low: </h5>  {{weatherItem.low}}
            <h5>Day: </h5>  {{weatherItem.day}}
            <h5>Skytextday: </h5> {{weatherItem.skytextday}}
          </td>
        {{/each}}
      </tr>
    </table>
  </div>
</div>

