{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class="container container-fluid">
    <div>
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand navbar-light" style="color: '#1B0300';" href="#">
                    Time:
                </a>
            </div>
        </nav>
    </div>
    <div  class="custom_panel">
        werwerwerwer
    </div>
</div>

